<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interceptors</key>
	<dict>
		<key>错误处理</key>
		<dict>
			<key>sort</key>
			<integer>10000</integer>
			<key>globalMatch</key>
			<true/>
			<key>class</key>
			<string>YZTURLErrorInterceptor</string>
			<key>name</key>
			<string>error</string>
		</dict>
		<key>登录</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/news/viewpoint/detail</string>
				<string>native://com.pingan.yzt.addhouse</string>
				<string>native://com.pingan.yzt.addcar</string>
				<string>native://com.pingan.yzt.creditcard</string>
				<string>native://com.pingan.yzt.iloan</string>
				<string>patoa://pingan.com/free-money</string>
				<string>patoa://pingan.com/credit</string>
				<string>patoa://pingan.com/credit/anybuy</string>
				<string>patoa://pingan.com/wealth/health</string>
				<string>patoa://pingan.com/financing/likeu</string>
				<string>patoa://pingan.com/stock/register</string>
				<string>patoa://pingan.com/car/add</string>
				<string>patoa://pingan.com/account-book</string>
				<string>patoa://pingan.com/fund/add</string>
				<string>patoa://pingan.com/stock/add</string>
				<string>patoa://pingan.com/stock/select-broker</string>
				<string>patoa://pingan.com/investment/analysis</string>
				<string>patoa://pingan.com/message/list</string>
				<string>patoa://pingan.com/member-rights</string>
				<string>patoa://pingan.com/activity/gift</string>
				<string>native://com.pingan.yzt.myprize</string>
				<string>patoa://pingan.com/investment/adviser</string>
				<string>patoa://pingan.com/wealth/adviser</string>
				<string>patoa://pingan.com/investment/recommend</string>
				<string>patoa://pingan.com/insurance</string>
				<string>patoa://pingan.com/insurance/diagnose</string>
				<string>patoa://pingan.com/financing/pa-bank</string>
				<string>patoa://pingan.com/sign</string>
			</array>
			<key>sort</key>
			<integer>100</integer>
			<key>except</key>
			<array>
				<string>patoa://pingan.com/fund/public</string>
				<string>patoa://pingan.com/house/tool</string>
				<string>patoa://pingan.com/loan/car</string>
				<string>patoa://pingan.com/loan/house</string>
				<string>patoa://pingan.com/house/housing-fund</string>
				<string>patoa://pingan.com/loan/emergency-wallet</string>
			</array>
			<key>class</key>
			<string>YZTURLLoginInterceptor</string>
			<key>urlPrefixs</key>
			<array>
				<string>patoa://pingan.com/fund</string>
				<string>patoa://pingan.com/house</string>
				<string>patoa://pingan.com/user/</string>
				<string>patoa://pingan.com/deposit</string>
				<string>patoa://pingan.com/credit-card/</string>
				<string>patoa://pingan.com/stock/add/</string>
				<string>patoa://pingan.com/loan</string>
				<string>patoa://pingan.com/point</string>
				<string>patoa://pingan.com/cardbag</string>
				<string>patoa://pingan.com/car/violation</string>
				<string>patoa://pingan.com/live/detail</string>
				<string>patoa://pingan.com/user/order</string>
				<string>patoa://pingan.com/message</string>
				<string>patoa://pingan.com/community</string>
			</array>
			<key>name</key>
			<string>login</string>
		</dict>
		<key>React</key>
		<dict>
			<key>sort</key>
			<integer>400</integer>
			<key>class</key>
			<string>YZTURLReactInterceptor</string>
			<key>urlPrefixs</key>
			<array>
				<string>patoa</string>
			</array>
			<key>name</key>
			<string>react</string>
		</dict>
		<key>入参检查</key>
		<dict>
			<key>sort</key>
			<integer>1</integer>
			<key>globalMatch</key>
			<true/>
			<key>class</key>
			<string>YZTURLInputPreparationInterceptor</string>
			<key>name</key>
			<string>input-preparation</string>
		</dict>
		<key>设置密码</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/insurance</string>
				<string>native://com.pingan.yzt.addhouse</string>
				<string>native://com.pingan.yzt.addcar</string>
				<string>native://com.pingan.yzt.creditcard</string>
				<string>native://com.pingan.yzt.iloan</string>
				<string>patoa://pingan.com/free-money</string>
				<string>patoa://pingan.com/credit</string>
				<string>patoa://pingan.com/credit/anybuy</string>
				<string>patoa://pingan.com/wealth/health</string>
				<string>patoa://pingan.com/fund/toapay</string>
				<string>patoa://pingan.com/financing/likeu</string>
				<string>patoa://pingan.com/stock/register</string>
				<string>patoa://pingan.com/car/add</string>
				<string>patoa://pingan.com/account-book</string>
				<string>patoa://pingan.com/fund/add</string>
				<string>patoa://pingan.com/stock/add</string>
				<string>patoa://pingan.com/investment/analysis</string>
				<string>patoa://pingan.com/message/list</string>
				<string>patoa://pingan.com/member-rights</string>
				<string>patoa://pingan.com/activity/gift</string>
				<string>native://com.pingan.yzt.myprize</string>
				<string>patoa://pingan.com/investment/adviser</string>
			</array>
			<key>sort</key>
			<integer>200</integer>
			<key>except</key>
			<array>
				<string>patoa://pingan.com/user/change-pwd</string>
				<string>patoa://pingan.com/house/tool</string>
				<string>patoa://pingan.com/loan/car</string>
				<string>patoa://pingan.com/loan/house</string>
				<string>patoa://pingan.com/user/edit</string>
				<string>patoa://pingan.com/house/housing-fund</string>
				<string>patoa://pingan.com/loan/emergency-wallet</string>
			</array>
			<key>class</key>
			<string>YZTURLSetPasswordInterceptor</string>
			<key>urlPrefixs</key>
			<array>
				<string>patoa://pingan.com/house</string>
				<string>patoa://pingan.com/user/</string>
				<string>patoa://pingan.com/deposit</string>
				<string>patoa://pingan.com/credit-card/</string>
				<string>patoa://pingan.com/fund/add/</string>
				<string>patoa://pingan.com/stock/add/</string>
				<string>patoa://pingan.com/loan</string>
				<string>patoa://pingan.com/point</string>
				<string>patoa://pingan.com/cardbag</string>
				<string>patoa://pingan.com/car/violation</string>
				<string>patoa://pingan.com/live/detail</string>
			</array>
			<key>name</key>
			<string>set-password</string>
		</dict>
		<key>实名认证</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/loan/add/trust</string>
				<string>patoa://pingan.com/stock/register</string>
				<string>patoa://pingan.com/loan/loan-u-back</string>
				<string>patoa://pingan.com/credit-card/payback</string>
				<string>patoa://pingan.com/stock/select-broker</string>
				<string>patoa://pingan.com/credit-card/apply</string>
			</array>
			<key>sort</key>
			<integer>300</integer>
			<key>except</key>
			<array>
				<string>patoa://pingan.com/credit-card/payback-v2</string>
			</array>
			<key>class</key>
			<string>YZTIdentifyRealNameInterceptor</string>
			<key>name</key>
			<string>identify</string>
		</dict>
	</dict>
	<key>handlers</key>
	<dict>
		<key>注册</key>
		<dict>
			<key>action</key>
			<string>present</string>
			<key>viewController</key>
			<string>YZTRegisterByOTPViewController</string>
			<key>viewProperties</key>
			<dict/>
			<key>url</key>
			<string>patoa://pingan.com/register</string>
		</dict>
		<key>全部工具</key>
		<dict>
			<key>viewController</key>
			<string>YZTAllServiceViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/tool</string>
		</dict>
		<key>（待定）信用卡－账单详情</key>
		<dict>
			<key>viewController</key>
			<string></string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/bill/month</string>
		</dict>
		<key>任意门</key>
		<dict>
			<key>class</key>
			<string>YZTURLAnydoorHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/anydoor</string>
		</dict>
		<key>理财基金－非平安第三方资产</key>
		<dict>
			<key>viewController</key>
			<string>YZTFinancingOtherAssetViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/financing/other-asset</string>
		</dict>
		<key>理财基金－资产详情</key>
		<dict>
			<key>class</key>
			<string>YZTURLFinancingAssetPositionDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/financing/asset-position-detail</string>
		</dict>
		<key>理财基金－理财like U</key>
		<dict>
			<key>class</key>
			<string>YZTURLFinancingLikeUHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/financing/likeu</string>
		</dict>
		<key>（待定）LBS－券商网点</key>
		<dict>
			<key>viewController</key>
			<string></string>
			<key>url</key>
			<string>patoa://pingan.com/lbs/stock</string>
		</dict>
		<key>直播－详情</key>
		<dict>
			<key>class</key>
			<string>YZTURLLiveDetailHandler</string>
			<key>name</key>
			<string>直播详情</string>
			<key>url</key>
			<string>patoa://pingan.com/live/detail</string>
		</dict>
		<key>积分－查询（万里通）</key>
		<dict>
			<key>viewController</key>
			<string>IntegralViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/point/query</string>
		</dict>
		<key>我－健康账户</key>
		<dict>
			<key>class</key>
			<string>YZTURLHealthAccountHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/health</string>
		</dict>
		<key>活动中心－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTActivityViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/activity</string>
		</dict>
		<key>优惠－优惠首页</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/react?name=AppCreditCoupon&amp;hideBar=1</string>
			<key>url</key>
			<string>patoa://pingan.com/discount</string>
		</dict>
		<key>理财－免登录</key>
		<dict>
			<key>class</key>
			<string>YZTURLFinancingPaBankHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/financing/pa-bank</string>
		</dict>
		<key>（待定）信用卡－账单列表</key>
		<dict>
			<key>viewController</key>
			<string></string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/bill</string>
		</dict>
		<key>我－昵称</key>
		<dict>
			<key>class</key>
			<string>YZTNickNameModifySettingHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/personalsetting/nickname</string>
		</dict>
		<key>信用卡－首页</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/credit-card</string>
				<string>native://com.pingan.yzt.creditcard</string>
			</array>
			<key>viewController</key>
			<string>YZTCreditCardHomePageViewController</string>
		</dict>
		<key>信用－任意购</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA02100000000_02_RYG_YZT&amp;extra=%7B%22channel%22%3A%22PA02100000000_02_RYG_YZT%22%7D</string>
			<key>url</key>
			<string>patoa://pingan.com/credit/anybuy</string>
		</dict>
		<key>投资－投资分析</key>
		<dict>
			<key>viewController</key>
			<string>YZTInvestScanViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/investment/analysis</string>
		</dict>
		<key>首页－金融旗舰店</key>
		<dict>
			<key>class</key>
			<string>YZTFlagShipStoreHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/shop</string>
		</dict>
		<key>测试－Debug</key>
		<dict>
			<key>viewController</key>
			<string>YZTDebugInfoMainViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/test/debug</string>
		</dict>
		<key>其他－Http</key>
		<dict>
			<key>urls</key>
			<array>
				<string>file</string>
				<string>https</string>
				<string>http</string>
			</array>
			<key>class</key>
			<string>YZTURLHttpHandler</string>
		</dict>
		<key>信用卡－一宝还款</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/credit-card/payback</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/payback/toapay</string>
		</dict>
		<key>金融旗舰店－SSO</key>
		<dict>
			<key>class</key>
			<string>YZTURLShopSSOHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/sso</string>
		</dict>
		<key>社区－用户主页</key>
		<dict>
			<key>viewController</key>
			<string>YZTSFCUserStoryViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/user</string>
		</dict>
		<key>任意门－login</key>
		<dict>
			<key>class</key>
			<string>YZTURLAnydoorManagerHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/anydoor/login</string>
		</dict>
		<key>房产－公积金添加</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/social-insurance</string>
			<key>url</key>
			<string>patoa://pingan.com/house/housing-fund/add</string>
		</dict>
		<key>理财基金－一宝</key>
		<dict>
			<key>urls</key>
			<array>
				<string>native://com.pingan.yzt.yztbearning</string>
				<string>patoa://pingan.com/fund/toapay</string>
			</array>
			<key>viewController</key>
			<string>YZTBaoMainViewController</string>
			<key>name</key>
			<string>一宝</string>
		</dict>
		<key>保险－拨打热线电话</key>
		<dict>
			<key>class</key>
			<string>YZTInsuranceTelephoneHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/insurance/hotline</string>
		</dict>
		<key>房产－公积金查询</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/house/housing-fund</string>
			<key>url</key>
			<string>patoa://pingan.com/house/housing-fund/query</string>
		</dict>
		<key>贷款－详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTLoanTypeDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/detail</string>
		</dict>
		<key>签到－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTSignViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/sign</string>
		</dict>
		<key>金融旗舰店－投资</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/shop?tab=0</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/investment</string>
		</dict>
		<key>测试－Home</key>
		<dict>
			<key>viewController</key>
			<string>YZTHomeTestViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/test/home</string>
		</dict>
		<key>保险－五险一金添加</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/social-insurance</string>
			<key>url</key>
			<string>patoa://pingan.com/social-insurance/add</string>
		</dict>
		<key>贷款－车贷</key>
		<dict>
			<key>viewController</key>
			<string>CarDiLoansViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/car</string>
		</dict>
		<key>理财基金－一宝交易</key>
		<dict>
			<key>class</key>
			<string>YZTURLYZTToaPayTransactionHandler</string>
			<key>name</key>
			<string>一宝交易</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/transaction</string>
		</dict>
		<key>理财基金－添加具体项（手工）</key>
		<dict>
			<key>class</key>
			<string>YZTURLFundAddDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/add/manual/detail</string>
		</dict>
		<key>信用－首页</key>
		<dict>
			<key>viewController</key>
			<string>CreditScoreViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/credit</string>
		</dict>
		<key>卡包－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTCardPackageViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/cardbag</string>
		</dict>
		<key>社区－话题详情</key>
		<dict>
			<key>class</key>
			<string>YZTSocialAreaTopicDetailHandler</string>
			<key>name</key>
			<string>社区话题详情</string>
			<key>url</key>
			<string>patoa://pingan.com/community/topic</string>
		</dict>
		<key>信用卡－加挂</key>
		<dict>
			<key>viewController</key>
			<string>AddNewCreditCardViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/add</string>
		</dict>
		<key>存款－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTDepositViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/deposit</string>
		</dict>
		<key>生活频道－秒杀列表</key>
		<dict>
			<key>viewController</key>
			<string>YZTSecondsKillGoodsListViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lifemodule/seckillinglist</string>
		</dict>
		<key>保险－新保险首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTNewInsuranceHomeViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/insurance/home</string>
		</dict>
		<key>其他－web</key>
		<dict>
			<key>class</key>
			<string>YZTURLWebHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/web</string>
		</dict>
		<key>贷款－应急钱包</key>
		<dict>
			<key>class</key>
			<string>YZTURLEmergencyWalletHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/emergency-wallet</string>
		</dict>
		<key>信用卡－还款记录交易详情</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRecordDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/record-detail</string>
		</dict>
		<key>信用卡－还款状态进度页</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentRecordDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/record-state</string>
		</dict>
		<key>信用卡－还款跳转信用卡列表</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentCreditCardListHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/home</string>
		</dict>
		<key>我－信用护照</key>
		<dict>
			<key>class</key>
			<string>YZTURLCreditPassportEntranceHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/credit-passport</string>
		</dict>
		<key>社区－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTFinanceCommunityHomepageViewController</string>
			<key>name</key>
			<string>社区首页</string>
			<key>url</key>
			<string>patoa://pingan.com/community/homepage</string>
		</dict>
		<key>我－交易密码</key>
		<dict>
			<key>class</key>
			<string>YZTURLToaPasswordHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/trade-password</string>
		</dict>
		<key>我－头像修改</key>
		<dict>
			<key>class</key>
			<string>YZTAvatarSettingHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/personalsetting/avatar</string>
		</dict>
		<key>贷款-氧气贷</key>
		<dict>
			<key>class</key>
			<string>YZTURLOLoanHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/oLoan</string>
		</dict>
		<key>我－每期账单</key>
		<dict>
			<key>viewController</key>
			<string>YZTBillIntegrationHomePageViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/asset/events</string>
		</dict>
		<key>贷款－小额信用贷款</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/loan/anjin-loan</string>
				<string>patoa://pingan.com/loan/queryaccount</string>
			</array>
			<key>class</key>
			<string>YZTAnJinLoanHandler</string>
		</dict>
		<key>存款－银行卡管理</key>
		<dict>
			<key>class</key>
			<string>YZTURLBankCardManagementHandler</string>
			<key>name</key>
			<string>银行卡管理</string>
			<key>url</key>
			<string>patoa://pingan.com/deposit/bank-card</string>
		</dict>
		<key>首页－金融社交</key>
		<dict>
			<key>viewController</key>
			<string>YZTFinanceCommunityViewController</string>
			<key>class</key>
			<string>YZTFinanceCommunityHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/financeCommunity</string>
		</dict>
		<key>贷款－房贷</key>
		<dict>
			<key>viewController</key>
			<string>HouseLoanToolsViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/house</string>
		</dict>
		<key>安少头条－优惠详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTAnShaoWebViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/discount/detail/anshao</string>
		</dict>
		<key>信用护照－好信乐组</key>
		<dict>
			<key>class</key>
			<string>YZTURLLezuEntranceHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/creditpassport/lezu</string>
		</dict>
		<key>金融旗舰店－信托</key>
		<dict>
			<key>urls</key>
			<array>
				<string>patoa://pingan.com/shop/sso/trust</string>
				<string>patoa://pingan.com/shop/sso/fixed-financing</string>
			</array>
			<key>class</key>
			<string>YZTURLShopSSOTrustHandler</string>
		</dict>
		<key>支付－收银台</key>
		<dict>
			<key>class</key>
			<string>YZTURLCasierHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/pay/checkout</string>
		</dict>
		<key>生活频道－便民列表</key>
		<dict>
			<key>viewController</key>
			<string>YZTLifeConvenienceViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lifemodule/conveniencelist</string>
		</dict>
		<key>社区－观点详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTSocialAreaViewPointDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/viewpoint</string>
		</dict>
		<key>优惠－城市列表</key>
		<dict>
			<key>viewController</key>
			<string>YZTCreditPromotionOffersSelectCityViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/discount/cities</string>
		</dict>
		<key>消息－消息中心</key>
		<dict>
			<key>viewController</key>
			<string>YZTMessageTypeViewController</string>
			<key>temp</key>
			<string>patoa://pingan.com/react?name=YZTMessage&amp;hideBar=1</string>
			<key>url</key>
			<string>patoa://pingan.com/message</string>
		</dict>
		<key>其他－MainTab</key>
		<dict>
			<key>class</key>
			<string>YZTURLMainTabHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/main</string>
		</dict>
		<key>其他－健康卡</key>
		<dict>
			<key>viewController</key>
			<string>MAHealthCardInfoViewController</string>
			<key>url</key>
			<string>native://com.pingan.yzt.masteraccount.productlist</string>
		</dict>
		<key>贷款－添加</key>
		<dict>
			<key>viewController</key>
			<string>YZTAddLoanSelectTypeViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/add</string>
		</dict>
		<key>信用卡－办卡进度</key>
		<dict>
			<key>redirectURL</key>
			<string>https://wap-ebank.pingan.com/weixin/modules/queryApp/index.html#queryf</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/register-progress</string>
		</dict>
		<key>直播－预告列表</key>
		<dict>
			<key>viewController</key>
			<string>SFCLiveForecastViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/live/forecasts</string>
		</dict>
		<key>社区－直播回放详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTFinanceLiveDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/replay</string>
		</dict>
		<key>登录</key>
		<dict>
			<key>action</key>
			<string>present</string>
			<key>viewController</key>
			<string>YZTLoginGeneralViewController</string>
			<key>class</key>
			<string>YZTURLLoginHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/login</string>
		</dict>
		<key>订单 - 投资</key>
		<dict>
			<key>viewController</key>
			<string>InvestmentPositionViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/order/investment</string>
		</dict>
		<key>消息－消息列表</key>
		<dict>
			<key>viewController</key>
			<string>YZTMessageListViewController</string>
			<key>temp</key>
			<string>patoa://pingan.com/react?name=YZTMessageList&amp;hideBar=1</string>
			<key>url</key>
			<string>patoa://pingan.com/message/list</string>
		</dict>
		<key>LBS－银行网点</key>
		<dict>
			<key>viewController</key>
			<string>YZTManualSelecedBankViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lbs/bank</string>
		</dict>
		<key>首页－我</key>
		<dict>
			<key>viewController</key>
			<string>YZTPersonalViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user</string>
		</dict>
		<key>第三方call</key>
		<dict>
			<key>class</key>
			<string>YZTURL3rdrHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/3rd</string>
		</dict>
		<key>其他－健康卡详情</key>
		<dict>
			<key>viewController</key>
			<string>MAHealthCardDetailViewController</string>
			<key>class</key>
			<string>YZTURLHealthCardDetailHandler</string>
			<key>url</key>
			<string>native://com.pingan.yzt.masteraccount.productdetail</string>
		</dict>
		<key>资金钱袋－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTMyRestMoneyViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/free-money</string>
		</dict>
		<key>积分－添加</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/point</string>
			<key>url</key>
			<string>patoa://pingan.com/point/add</string>
		</dict>
		<key>生活频道－爆款列表</key>
		<dict>
			<key>viewController</key>
			<string>YZTLifeHotGoodsListViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lifemodule/hotlist</string>
		</dict>
		<key>信用卡－还款记录列表页</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentCallbackHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/paymentHistoryList</string>
		</dict>
		<key>金融旗舰店－贷款</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/shop?tab=1</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/loan</string>
		</dict>
		<key>自定义配置页</key>
		<dict>
			<key>viewController</key>
			<string>YZTViewPageConfigurationViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/configpage</string>
		</dict>
		<key>理财基金－一宝工资理财</key>
		<dict>
			<key>class</key>
			<string>YZTURLToaPaySalaryFinacialHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/salaryFinacial</string>
		</dict>
		<key>订单－保险</key>
		<dict>
			<key>viewController</key>
			<string>InsurancePositionViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/order/insurance</string>
		</dict>
		<key>我－账户信息</key>
		<dict>
			<key>class</key>
			<string>YZTAccountInfoHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/personalsetting/accountinfo</string>
		</dict>
		<key>社区－产品详情</key>
		<dict>
			<key>class</key>
			<string>YZTSocialAreaAnswerProductTopicDetailHandler</string>
			<key>name</key>
			<string>社区产品详情</string>
			<key>url</key>
			<string>patoa://pingan.com/community/product</string>
		</dict>
		<key>我－账户余额</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/free-money</string>
			<key>url</key>
			<string>patoa://pingan.com/user/balance</string>
		</dict>
		<key>金融旗舰店－保险</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/shop?tab=2</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/insurance</string>
		</dict>
		<key>信用卡－详情</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/detail</string>
		</dict>
		<key>任意门 - 陆金所</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA02100000000_02_YZTLJSYZ</string>
			<key>url</key>
			<string>patoa://pingan.com/anydoor/lufax</string>
		</dict>
		<key>贷款－信贷加油站</key>
		<dict>
			<key>viewController</key>
			<string>YZTCreditLoanServiceStationIntroduceViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/loan/add/trust</string>
		</dict>
		<key>信用卡－申请</key>
		<dict>
			<key>class</key>
			<string>YZTApplyPaCreditCardHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/register</string>
		</dict>
		<key>理财基金－添加（手工）</key>
		<dict>
			<key>viewController</key>
			<string>YZTFundAndFinancingSearchViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/add/manual</string>
		</dict>
		<key>优惠－详情页</key>
		<dict>
			<key>viewController</key>
			<string>YZTCreditPromotionOffersDetailViewController</string>
			<key>class</key>
			<string>YZTURLDiscountDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/discount/detail</string>
		</dict>
		<key>信用卡－还款选择方式</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentSelectHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/payback/type</string>
		</dict>
		<key>社区－直播预告详情</key>
		<dict>
			<key>viewController</key>
			<string>SFCLiveCastPreviewDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/trailer</string>
		</dict>
		<key>我－实名认证</key>
		<dict>
			<key>viewController</key>
			<string>RealNameAuthEnterViewController</string>
			<key>class</key>
			<string>YZTURLIdentifyRealNameHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/identify</string>
		</dict>
		<key>我－添加每期账单</key>
		<dict>
			<key>viewController</key>
			<string>YZTBillIntegrationAddViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/asset/events/add</string>
		</dict>
		<key>优惠－关注银行</key>
		<dict>
			<key>viewController</key>
			<string>YZTMyFollowBanksViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/discount/banks</string>
		</dict>
		<key>生活频道－黄金专区</key>
		<dict>
			<key>viewController</key>
			<string>YZTLifeHotGoodsListViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lifemodule/goldzone</string>
		</dict>
		<key>理财基金－首页</key>
		<dict>
			<key>class</key>
			<string>YZTFundAndFinancingHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/fund</string>
		</dict>
		<key>存款－加挂</key>
		<dict>
			<key>viewController</key>
			<string>YZTBanksChooseViewController</string>
			<key>class</key>
			<string>YZTURLDepositBankChooseHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/deposit/add</string>
		</dict>
		<key>金融旗舰店－投资活期列表</key>
		<dict>
			<key>class</key>
			<string>YZTFlagShipStoreInvestmentListHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/investment/current-list</string>
		</dict>
		<key>我－安全设置</key>
		<dict>
			<key>class</key>
			<string>YZTSecuritySettingHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/personalsetting/securitysetting</string>
		</dict>
		<key>（待定）信用卡－分析</key>
		<dict>
			<key>viewController</key>
			<string></string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/bill/analysis</string>
		</dict>
		<key>理财基金－一宝开户</key>
		<dict>
			<key>class</key>
			<string>YZTURLYZTBaoHandler</string>
			<key>name</key>
			<string>一宝开户</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/register</string>
		</dict>
		<key>一宝-浦发快捷支付服务协议</key>
		<dict>
			<key>class</key>
			<string>YZTURLYZTToaPayAgreementHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/agreement</string>
		</dict>
		<key>信用卡－还款 - 519</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/payback-v2</string>
		</dict>
		<key>测试－URL</key>
		<dict>
			<key>viewController</key>
			<string>YZTTestViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/test</string>
		</dict>
		<key>金融旗舰店－陆金所理财产品</key>
		<dict>
			<key>viewController</key>
			<string>YZTLufaxProductListViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/investment/lufax</string>
		</dict>
		<key>活动中心</key>
		<dict>
			<key>class</key>
			<string>YZTActivityCenterHandler</string>
			<key>url</key>
			<string>native://com.pingan.yzt.myprize</string>
		</dict>
		<key>理财基金－一宝交易明细</key>
		<dict>
			<key>class</key>
			<string>YZTToaPayTradeHandler</string>
			<key>name</key>
			<string>一宝交易明细</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/trade</string>
		</dict>
		<key>理财基金－理财计算器</key>
		<dict>
			<key>class</key>
			<string>YZTURLFinancingToolHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/financing/tool</string>
		</dict>
		<key>贷款－首页</key>
		<dict>
			<key>urls</key>
			<array>
				<string>native://com.pingan.yzt.iloan</string>
				<string>patoa://pingan.com/loan</string>
			</array>
			<key>viewController</key>
			<string>MyLoanViewController</string>
		</dict>
		<key>首页－首页</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/main?tab=0</string>
			<key>url</key>
			<string>patoa://pingan.com/home</string>
		</dict>
		<key>信用卡－分期还款</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/loan/loan-u-back</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/payback/terms</string>
		</dict>
		<key>存款－借记卡加挂</key>
		<dict>
			<key>class</key>
			<string>YZTAddDebitCardHandler</string>
			<key>name</key>
			<string>借记卡加挂</string>
			<key>url</key>
			<string>patoa://pingan.com/deposit/bank-card/add</string>
		</dict>
		<key>车－违章查询－任意门</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA02100000000_02_CWZDJ</string>
			<key>url</key>
			<string>patoa://pingan.com/car/violation/anydoor</string>
		</dict>
		<key>记帐本－首页</key>
		<dict>
			<key>viewController</key>
			<string>ABAccountBookViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/account-book</string>
		</dict>
		<key>其他－uri</key>
		<dict>
			<key>urls</key>
			<array>
				<string>tel</string>
				<string>mailto</string>
				<string>sms</string>
			</array>
			<key>class</key>
			<string>YZTURLCommonURIHandler</string>
		</dict>
		<key>测试－配置平台</key>
		<dict>
			<key>viewController</key>
			<string>YZTTestViewConfigurationViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/test/config</string>
		</dict>
		<key>我－社交账号绑定</key>
		<dict>
			<key>class</key>
			<string>YZTSocialAccountBindingHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/personalsetting/socailaccountbinding</string>
		</dict>
		<key>房产－公积金</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/social-insurance</string>
			<key>url</key>
			<string>patoa://pingan.com/house/housing-fund</string>
		</dict>
		<key>金融旗舰店－投资定期详情</key>
		<dict>
			<key>class</key>
			<string>YZTFlagShipStoreInvestmentDetailHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/investment/regular-detail</string>
		</dict>
		<key>LBS－车辆周边服务</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA01100000004_02_WDCX</string>
			<key>url</key>
			<string>patoa://pingan.com/lbs/car-service</string>
		</dict>
		<key>其他－back</key>
		<dict>
			<key>class</key>
			<string>YZTURLBackHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/back</string>
		</dict>
		<key>我－我的资产</key>
		<dict>
			<key>viewController</key>
			<string>YZTNewAssetViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/asset</string>
		</dict>
		<key>订单－贷款</key>
		<dict>
			<key>viewController</key>
			<string>LoanPositionViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/order/loan</string>
		</dict>
		<key>生活频道－首页</key>
		<dict>
			<key>viewController</key>
			<string>YZTLifeHomeViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/lifemodule</string>
		</dict>
		<key>社区－详情</key>
		<dict>
			<key>class</key>
			<string>YZTURLCommunityDetailHandler</string>
			<key>name</key>
			<string>社区详情</string>
			<key>url</key>
			<string>patoa://pingan.com/community/detail</string>
		</dict>
		<key>杂项 - TestFlight邀请</key>
		<dict>
			<key>viewController</key>
			<string>YZTTestFlightInviteViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/grayscale_testflight/invite</string>
		</dict>
		<key>其他－资产管理</key>
		<dict>
			<key>viewController</key>
			<string>AdministerCashViewController</string>
			<key>url</key>
			<string>native://com.pingan.yzt.finance</string>
		</dict>
		<key>积分－首页</key>
		<dict>
			<key>viewController</key>
			<string>IntegralViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/point</string>
		</dict>
		<key>社区－回答详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTSocialAreaAnswerDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/answer</string>
		</dict>
		<key>我－添加资产</key>
		<dict>
			<key>viewController</key>
			<string>YZTAssetAddViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/asset/add</string>
		</dict>
		<key>车－平安行</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA01100000000_02_PAX</string>
			<key>url</key>
			<string>patoa://pingan.com/car/pingango</string>
		</dict>
		<key>财富－智能财富顾问</key>
		<dict>
			<key>class</key>
			<string>YZTURLInvestmentHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/wealth/adviser</string>
		</dict>
		<key>金融旗舰店－投资定期列表</key>
		<dict>
			<key>class</key>
			<string>YZTFlagShipStoreInvestmentListHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/shop/investment/regular-list</string>
		</dict>
		<key>跳转至RN页面</key>
		<dict>
			<key>viewController</key>
			<string>YZTRNModuleViewController</string>
			<key>reactComponent</key>
			<string>{name}</string>
			<key>url</key>
			<string>patoa://pingan.com/react</string>
		</dict>
		<key>我－智能钱包</key>
		<dict>
			<key>class</key>
			<string>YZTURLSmartWalletHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/smart-wallet</string>
		</dict>
		<key>我－订单中心</key>
		<dict>
			<key>viewController</key>
			<string>MyPositionViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/order</string>
		</dict>
		<key>卡包－添加</key>
		<dict>
			<key>viewController</key>
			<string>YZTCardPackageViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/cardbag/add</string>
		</dict>
		<key>信用卡－还款</key>
		<dict>
			<key>class</key>
			<string>YZTCreditCardRepaymentHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/payback</string>
		</dict>
		<key>财富－财富加速器</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/wealth/health</string>
			<key>url</key>
			<string>patoa://pingan.com/wealth/accelerator</string>
		</dict>
		<key>财富－财富排名</key>
		<dict>
			<key>viewController</key>
			<string>WealthHealthyViewController</string>
			<key>class</key>
			<string>YZTURLWealthRankHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/wealth/rank</string>
		</dict>
		<key>我－修改密码</key>
		<dict>
			<key>action</key>
			<string>present</string>
			<key>viewController</key>
			<string>YZTOtpSetLoginPasswordViewController</string>
			<key>viewProperties</key>
			<dict>
				<key>strUserName</key>
				<string></string>
				<key>bHaveLeftArrow</key>
				<true/>
				<key>bMustSet</key>
				<true/>
			</dict>
			<key>url</key>
			<string>patoa://pingan.com/user/change-pwd</string>
		</dict>
		<key>社区－直播详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTFinanceLiveDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/live</string>
		</dict>
		<key>理财基金－添加</key>
		<dict>
			<key>viewController</key>
			<string>YZTFundAndFinancingAddViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/add</string>
		</dict>
		<key>投资－智能投资</key>
		<dict>
			<key>urls</key>
			<array>
				<string>native://com.pingan.yzt.goInvestmentModule</string>
				<string>native://com.pingan.yzt.jumpOrange</string>
				<string>patoa://pingan.com/investment/recommend</string>
			</array>
			<key>class</key>
			<string>YZTURLInvestmentHandler</string>
		</dict>
		<key>社区－提问详情</key>
		<dict>
			<key>viewController</key>
			<string>YZTSocialAreaAskQuestionDetailViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/community/ask</string>
		</dict>
		<key>理财基金－一宝开户引导</key>
		<dict>
			<key>viewController</key>
			<string>YZTBaoGuideViewController</string>
			<key>name</key>
			<string>一宝开户引导页</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/guide</string>
		</dict>
		<key>我－证券账户</key>
		<dict>
			<key>viewController</key>
			<string>YZTUserSecuritiesViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/securities-account</string>
		</dict>
		<key>我－实名认证新开户</key>
		<dict>
			<key>class</key>
			<string>YZTURLIdentifyOpenAccountHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/user/openAccount</string>
		</dict>
		<key>我－用户信息编辑</key>
		<dict>
			<key>viewController</key>
			<string>YZTPersonalInfoViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/user/edit</string>
		</dict>
		<key>保险－五险一金</key>
		<dict>
			<key>redirectURL</key>
			<string>patoa://pingan.com/anydoor?pid=PA02100000000_02_WXYJ</string>
			<key>url</key>
			<string>patoa://pingan.com/social-insurance</string>
		</dict>
		<key>财经快讯－要闻</key>
		<dict>
			<key>viewController</key>
			<string>YZTNewsFrontPageViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/news/headline</string>
		</dict>
		<key>（待定）信用卡－本期账单</key>
		<dict>
			<key>viewController</key>
			<string></string>
			<key>url</key>
			<string>patoa://pingan.com/credit-card/bill/current</string>
		</dict>
		<key>理财基金-预约还贷</key>
		<dict>
			<key>class</key>
			<string>YZTURLReservationRepaymentHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/fund/toapay/reservation-repayment</string>
		</dict>
		<key>保险-保险服务</key>
		<dict>
			<key>class</key>
			<string>YZTURLPolicyServiceHandler</string>
			<key>url</key>
			<string>patoa://pingan.com/insurance/policy-service</string>
		</dict>
		<key>信用卡邮箱导入</key>
		<dict>
			<key>viewController</key>
			<string>YZTCreditCardMailGirdListViewController</string>
			<key>url</key>
			<string>patoa://pingan.com/credit_mail_grid</string>
		</dict>
	</dict>
</dict>
</plist>
